{% extends "base_generic.html" %}
{% block bodyPane %}
<div id="genpage">
          <div id="diagonal" class="fleft" style="background-image: URL('/static/img/bfm-onemorething.png')">
            <div id="" class="fleft">
                <div id="ccform" class="red" style="font-size: 1.1em; margin: 100px 0 0 0;">
                   <br><br>You have completed registering <b>{{ request.session.BigFanAcct }}</b>. Now all we need to do is get the password that you want to use to access your email.<br><br>
                   <form action="/savepassword/" method="POST">
{% csrf_token %}
                    <div class="red">{{ error }}</div><br>
                    <label>PASSWORD</label><br>
                    <input type="password" name="hostpass1" size="20" /><br>
                    <label>PASSWORD(AGAIN)</label><br>
                    <input type="password" name="hostpass2" size="20" />
                    <input type="submit" value="Submit" />
                   </form>
                </div>
                <div class="red"><br>This will be the password that you use to access {{ request.session.BigFanAcct.bfname.bfname.upper }}@{{ request.session.BigFanAcct.bfname.domain.domain_name }}.</div>
            </div>
          </div>
          <div class="fleft" style="padding: 0 0 0 0;width: 300px; position: relative; z-index: 2;">
              <div class="teamback" style="text-align: center; padding: 5px; color: #ffffff;">
                 <b>{{ request.session.BigFanAcct.bfname.bfname.upper }}@{{ request.session.BigFanAcct.bfname.domain.domain_name }}</b>
              </div>
              <img src="/static/img/bfm-bighead{{ request.session.bfteam }}.png">
          </div>
</div>
{% endblock %}
