{% extends "base_generic.html" %}
{% block bodyPane %}
   <div id="genpage">
      <div style="padding: 0 0 0 50px;">
        <div class="fleft" id="suptext" style="height: 220px; background-image: URL('/static/img/bfm-support.png'); background-report: no-repeat; padding: 130px 24px 0 0;">
            <div style="color: #ea2936; font-weight: bold;margin: 0 0 10px 10px;">Email Setup Guides</div>
            <div style="margin: 0 0 0 20px;">Smart devices</div>
            <div style="margin: 0 0 10px 30px;">
                  <a href="/static/docs/Access BigFanMail via Android.pdf" target="android">Android</a><br>
                  <a href="/static/docs/Access BigFanMail via iPhone.pdf" target="iphone">iPhone</a><br>
                  <a href="/static/docs/Access BigFanMail via iPad.pdf" target="ipad">iPad</a><br>
                  <a href="/static/docs/Access BigFanMail via Blackberry.pdf" target="blackberry">Blackberry</a><br>
                  <a href="/static/docs/Access BigFanMail via Galaxy.pdf" target="galaxy">Galaxy</a><br>
            </div>
            <div style="margin: 0 0 0 20px;">Email clients</div>
            <div style="margin: 0 0 0 30px;">
                  <a href="/static/docs/Access BigFanMail via Mac Mail.pdf" target="macmail">Mac Mail</a><br>
                  <a href="/static/docs/Access BigFanMail via Thunderbird.pdf" target="thunderbird">Thunderbird</a><br>
                  <a href="/static/docs/Access BigFanMail via Windows Live Mail.pdf" target="windowlive">Windows Live Mail</a><br>
                  <a href="/static/docs/Access BigFanMail via Outlook 2010.pdf" target="outlook">Outlook</a><br>
                  <a href="/static/docs/Access BigFanMail via Gmail.pdf" target="gmail">Gmail</a><br>
                  <a href="/static/docs/Access BigFanMail via Yahoo.pdf" target="yahoo">Yahoo</a><br>
                  <a href="/static/docs/Access BigFanMail via Webmail.pdf" target="webmail">Webmail</a><br>
            </div>
            <div style="padding: 20px 0 0 0;">Need to change your BigFanMail Email Password? <a href="/static/docs/Changing Your Email Password.pdf" target="changepwd">Click Here</a>.</div>
            <div style="padding: 20px 0 0 0;">You can email us with any support questions at <a href="mailto: support@bigfanmail.com">Support@BigFanMail.com</a>.</div>
        </div>
        <div id="bighead">
              <div style="margin: 23px 0 0 0; border: 10px solid gray; "><img src="/static/img/bfm-bigfan3.png"></div>
        </div>
        <div class="clearx"></div>
      </div>
   </div>
{% endblock %}
