{% extends "base_generic.html" %}
{% block bodyPane %}
         <div id="genpage">
            <div class="" id="bfmtext">
              <div style="float: right;"><img src="/static/img/bfm-bigfan1.png"></div>
     <p><em>Get your unique email!</em></p>
<p>Popular email service providers like Gmail and Yahoo have all the common email names already taken.  You end up with Bob40491@gmail.com or AGoose14@Yahoo.com.  Through our licensing program, you can get a premium email address that also identifies you with your school or team.  Emails like John@LSUTigersFan.com and Nigel@BigManUFan.com are available.  Get your premium, personalized email address that is truly unique and memorable.</p>
<p><em>Access your email from anywhere!</em></p>
<p>You can access your email from multiple computers and devices, including iPhone, iPad, Android, Windows Mobile and Blackberry.  You can also access your mail using the web client by simply connecting via any browser.  Mail can be delivered to popular clients like Outlook using POP or IMAP.</p>
<p><em>Unlimited Storage</em></p>
<p>With other email providers, emails will only stay in your account for a certain period of time or until your account reaches a certain amount of storage.  With a BigFanMail address, your emails will be archived and always accessible.</p>
            </div>
         </div>
{% endblock %}
