{% extends "base_generic.html" %}
{% block bodyPane %}
<div id="genpage">
{% if 'username' in request.POST and not error %}
     <div id="" style="float: left; width: 537px; height: 330px; background-image: URL('/static/img/bfm-secquestion.png');">
        <div id="teamsearch" style="margin: 100px 0 0 20px;">
          <form action="/forgotpassword/" method="POST">
{% csrf_token %}
           <table cellpadding="5"><tr><td>
            {{ question }}
           </td></tr>
           <tr><td>
            <input type="text" size="20" name="secanswer">
           </td></tr>
           <tr><td>
            <input type="submit" value="Submit">
           </td></tr></table>
{% elif 'secanswer' in request.POST %}
     <div id="" style="float: left; width: 537px; height: 330px; background-image: URL('/static/img/bfm-newpassword.png');">
        <div id="teamsearch" style="margin: 80px 0 0 20px;">
          <form action="/forgotpassword/" method="POST">
{% csrf_token %}
           <table cellpadding="5"><tr><td>
            NEW PASSWORD<br>
           </td></tr>
           <tr><td> 
            <input type="password" size="20" name="newp1">
           </td></tr>
           <tr><td> 
            NEW PASSWORD AGAIN<br>
           </td></tr>
           <tr><td> 
            <input type="password" size="20" name="newp2">
           </td></tr>
           <tr><td>
            <input type="submit" value="Submit">
           </td></tr></table>
{% elif success %}
           YOUR PASSWORD HAS BEEN RESET!
{% else %}
     <div id="" style="float: left; width: 537px; height: 370px; background-image: URL('/static/img/bfm-forgot.png');">
        <div id="teamsearch" style="margin: 100px 0 0 20px;">
          <form action="/forgotpassword/" method="POST">
{% csrf_token %}
           <table cellpadding="5"><tr><td>
           <td><tr>
            MEMBERZONE USERNAME<br>
            <input type="text" size="20" name="username">
           </td></tr>
           <tr><td>
            <input type="submit" value="Submit">
           </td></tr></table>
     <div class="red">{{ error }}</div>
{% endif %}
          </form>
        </div>
     </div>
     <div style="float: left;"><img src="/static/img/bfm-bighead.png"></div>
</div>
<div class="clearx"></div>
{% endblock %}
