{% extends "base_generic.html" %}
{% block bodyPane %}
         <div id="genpage">
            <div class="" id="bfmtext">
              <div style="float: right;"><img src="/static/img/bfm-bigfan2.png"></div>
If you are a school or team, there are many benefits to partnering with BigFanMail.com:
<ul>
<li>BigFanMail provides the eCommerce platform, email domain, email hosting infrastructure, address setup, payment processing and customer support.  Our partner schools and teams market the service and then share in the revenue.  By creating strategic partnerships with schools and teams, BigFanMail can reach a very broad fan base by using marketing channels already employed by those organizations.</li>
<li>BigFanMail partners share in the recurring revenue stream of the annualized licensing model.  Our partners can generate passive, recurring revenue growing to six figures annually in five years.  Additional marketing and revenue opportunities will come from having opt-in, direct contact information for the team’s biggest fans.</li>
<li>All technology is separate from any Partner School infrastructure. No liability for Partner School. BigFanMail will work closely with Partner School to communicate message and brand in consistent and positive manner.</li>
<li>Customer base can be used for additional customer engagement opportunities and building of fan community.</li></ul>
<em>Contact us at <a href="mailto:sales@bigfanmail.com">Sales@BigFanMail.com</a> for more information.</em>

            </div>
         </div>
{% endblock %}
